
.dom-cren-container {
    font-family: 'Montserrat','serif';
    margin-top: 50px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

    font-size: 1.5rem;
    gap:5%;
}

.img-div-contaner {
    margin-top: 30px;
    max-width: 1200px;
    width: 100%;
    height: 500px;
    background-image: url('../assets/dom-full-img.jfif');
    background-position: right;
    background-repeat: no-repeat;
    background-size:cover;
    border-radius: 5px;
    display:flex;
    align-items: center;
    justify-content: flex-end;
 
}

.img-desc {

    display:flex;
    flex-direction: column;
}

.gradient-mask {
    background-image: linear-gradient(to right, transparent,#000,#000,#000);
    height: 100%;
    max-width: 400px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gradient-mask * {
    margin: 10px 0;
    text-align: center;
}

.name {
    width: 80%;
  
    font-family: business,'serif';

}

.border-under {
    margin: 0 auto;
    width: 5%;
    border-bottom: 4px solid #fff ;

}

.button-new {
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 20px;
    border: 0;
}

.name p {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    color: rgb(192, 192, 192)
}

.trailer-button {
    position: relative;
    padding: 15px 40px;
    font-weight: 800;
    border-radius: 20px;
    cursor: pointer;
}

.play-icon {
    position: absolute;
    background-image: url('../assets/play.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 15px;
    height: 15px;
    top: 8px;
    left: 20px;
    cursor: pointer;
}
