.trend-container-div{
    display:flex;
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    
}

.trending-section {

    display:flex;
    color: #fff;
    width: 1200px;
    height: 500px;
    margin: 0 auto;
    align-items: center;
    overflow-x: scroll;
    z-index: -10;
}

.trending-section::-webkit-scrollbar {
    width: 0;
}

.first-trend {
    display: flex;
    width: auto;


}

.img-trend {
 
    margin-right: 20px;
    height: 400px;
    width: 230px;
    background-color: aqua;
    border-radius: 5px;

}

.one {
    background-image: url('../assets/teacher/teacher1.jfif');
}
.two {
    background-image: url('../assets/teacher/teacher2.jfif');
}
.three {
    background-image: url('../assets/teacher/teacher3.jfif');
}
.four {
    background-image: url('../assets/teacher/teacher4.jfif');
}
.five {
    background-image: url('../assets/teacher/teacher5.jfif');
}


.teacher {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.left-button {
    position: absolute;
    left:15px;
    top: 250px;

  }

  
.right-button {

  position: absolute;
  top: 250px;
  right:15px;
}

.left-button button,.right-button button {
    cursor: pointer;
    padding: 15px 20px;
    outline: none;
    border-radius: 50px;
    background-color: #4d5767;
    color: rgb(172, 171, 171);
    border: 0;
    font-size: 1.5rem;

}

.left-button button:hover,.right-button button:hover {
    text-align: #fff;
    background-color: #6a788f;
}


.trend-gradient-mask {
position: absolute;
  width: 200px;
  height: 100%;
  margin: auto 0;
  background-image: linear-gradient(to right, transparent,#000);

  right: 0;


}

.img-text-container {

        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        padding: 10px;
        position: relative;
        gap:4%;
        text-align: center;

}

.button-new-trending {
   position: absolute;
   top: 15px;
   left: 10px;
   background-color: #fff;
   color: #000;
   padding: 3px 8px;
   border-radius: 20px;
   font-size: 12px;

   
}

.techer-title {
    font-size: 3rem;
    width: auto;
    text-align: center;
}

.roy-font {
    font-family: business,'serif';
}

.terence-font {
    font-family: 'Roboto Condensed', sans-serif;
}

.george-font {
    font-size: 1.2rem;
    font-family: 'Vibes', cursive;
}

.joan-font {
    font-family: business,'serif';
}

.trending-title-container {

    color: #fff;
    display:flex;
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    flex-direction: column;
    margin-top: 50px;

}

.trending-title-container div {
    margin: 5px 0;
}

.trending-title-container div h4 {
    color: rgb(138, 135, 135);
    cursor:pointer;
}