
@media (max-width: 1024px) {

    .dom-cren-container {
        margin: 30px;

    }    
    .dom-cren-title-desc {
        text-align: center;
    }


}

@media (max-width: 768px) {

    .img-div-contaner {
        flex-direction: column;
        background-image: url('../../assets/classes-image.jfif');
    }

    
    .gradient-mask {
        max-width: 100%;
        justify-content: flex-end;
        height: auto;
        background-image: linear-gradient(to bottom, transparent,#000,#000);
        padding-bottom: 50px;
    }

}