@media (max-width:768px) {
    .extra-div {
        display:none;
    }
    .footer-container {
        grid-template-columns: 50% 50%;
        grid-template-rows: auto;
        height: 800px;
    }
    .get-started-bttn {
        text-align: center;
        font-size: .60em;
    }
   
}

@media (max-width:425px) {
    .footer-container {
        height: 1200px;
        display: flex;
        flex-direction: column;
        gap: 5%;
        justify-content: center;
    }
    .footer-inner-container li {

        margin-top: 10px;
        
    
    }
    
    
    
}