

.mobile-all-cat,.mobile-menu,.logo-mobile {
    display:none;
}

@media (max-width: 768px) {


    .menu,.login-right,.logo{
        display:none;
    }

    .mobile-all-cat,.mobile-menu,.logo-mobile {
        display: inline;
    }

    .mobile-cat-container {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20%;
        width: 200px;
    }

    .logo-mobile {
        height: 100%;
        width: 50px;
    }

    .logo-mobile span img {
        width: 100%;
        height: 100%;
    }
       

    .mobile-menu span img, .mobile-all-cat span img{
        filter: invert(98%) sepia(84%) saturate(3769%) hue-rotate(182deg) brightness(122%) contrast(95%);
    }

    .mobile-all-cat span img {
        position: absolute;
    }

#banner-button {
    width: 100%;
    padding: 15px;
}
 

   

 
    


}